body{
    display: grid;
    grid-template-columns:auto auto;
    grid-template-rows: auto auto auto auto auto auto auto auto; 
    align-content: center;
    font-family: 'Lato', sans-serif;
    background-color: #9cc9c9;
    margin: 5px;
    padding: 5px;
    text-align: center;
    }

/*nav*/

.nav{
    grid-column: 1 /span 2;
    grid-row: 1;
    background-color:#006666;
    height: 75px;
    font-size: 25px;
    font-weight: bold;
    margin: 5px;

}

li a{
    color: white;
    text-decoration: none;
}

li{
    list-style: none;
}

#heroImg{
    grid-column: 1 /span 2;
    grid-row: 2;
    background-image: url("../assets/yahrnLandingImg.jpg");
    background-position: center;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #006666;
    margin: 5px;
}

.summaryContainer{
    grid-column: 1 /span 2;
    grid-row: 3;
}

.caption{
    font-size: 25px;
    margin: 25px;
}

#yahrnLogo{
    height: 200px;
    width: 200px;
}


/*header*/
.header{
    font-size: 30px;
    color: white;
    font-weight: bolder;
    background-color: #006666;
    padding: 5px;
    }

/*external buttons*/
.extBtn{
    float: left;
    background-color: #251b0e;
    color: #f8f2ec;
    border: none;
    font-size: 25px;
    border-radius: 25px;
    width: 175px;
    margin: 10px;
}
    
.extBtn:hover{
    background-color: #f8f8f8;
    color:#251b0e;
    transition: 0.8s;
}
        
.heroCombo{
    margin-top: 100px;
    float: left;
    margin-left: 35px;
    font-size: 20px;
}

.mainToolContainer{
    grid-column: 1 /span 2;
    grid-row: 4;
    background-color: lightblue;
}

.tool{
    display: inline-block;
}

.toolImg{
    height: 150px;
    width: 150px;
    padding: 15px;
}

.tech{
    display: inline-block;
}

.techImg{
    height: 100px;
    width: 100px;
    padding: 15px;
}

.conceptContainer{
    grid-column: 1 /span 2;
    grid-row: 5;
}

.wfimg{
    height: 400px;
    width: 700px;
    margin: 20px;
}

.assetContainer{
    grid-column: 1 /span 2;
    grid-row: 6;

}

.designImg{
    height: 400px;
    width: 700px;
    margin: 20px;
}

.csContainer{
    grid-column: 1 /span 2;
    grid-row: 7;

}

.thanks{
    height: 450px;
    width: 450px;
}

.productContainer{
    grid-column: 1 /span 2;
    grid-row: 8;

}

.yahrnFinal{
    height: 400px;
    width: 450px;
    margin: 20px;
}